name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-Github-Runners-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World,Ubuntu1"
      - run: cat /etc/resolv.conf
      - run: curl -v -k --connect-timeout 10 http://test.exampleankur.com
      - run: nslookup test.exampleankur.com
