name: CI
on:
 push:
   branches: [ "main" ]
jobs:
  build:
   runs-on: 
    - codebuild-Github-Runners-${{ github.run_id }}-${{ github.run_attempt }}
   steps:
     - run: cat /etc/resolv.conf
     - run: nslookup test1abc.qwerty.com
  other-build:
   runs-on: ubuntu-latest
   steps:
     - run: cat /etc/resolv.conf
     - run: nslookup test1abc.qwerty.com
