name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-Github-Runners-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World"
      - nslookup test.exampleankur.com
      - curl -v -k --connect-timeout 10 http://test.exampleankur.com
      - cat /etc/resolv.conf
